<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-stdfu"
    version="1.0.0">
    <name>STDFUPlugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>

    <!-- android -->
    <platform name="android">
      <js-module src="www/stdfu.js" name="plugin">
        <runs/>

        <clobbers target="STDFUPlugin" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="STDFUPlugin">
          <param name="android-package" value="com.vensi.STDFUPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/vensi/STDFUPlugin.java" target-dir="src/com/vesi/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/stdfu.js" name="plugin">
            <runs/>
            <clobbers target="STDFUPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="STDFUPlugin">
                <param name="ios-package" value="STDFUPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/STDFUView.h" />
        <source-file src="src/ios/STDFUView.m" />
        <header-file src="src/ios/STDFUPlugin.h" />
        <source-file src="src/ios/STDFUPlugin.m" />
        <header-file src="src/ios/Reachability.h" />
        <source-file src="src/ios/Reachability.m" />
        
        <framework src="src/ios/frameworks/BlueSTDFU.framework" custom="true" embed="true"/>
    </platform>
</plugin>
