<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-stdfu"
    version="1.0.1">
    <name>STDFUPlugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    
    <js-module src="www/stdfu.js" name="plugin">
        <runs/>
        <clobbers target="STDFUPlugin" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="STDFUPlugin">
                <param name="android-package" value="com.vensi.STDFUPlugin.STDFUPlugin" />
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        
        <source-file src="src/android/libs/BlueSTDFU.jar" target-dir="libs" />
        <source-file src="src/android/STDFUPlugin.java" target-dir="src/com/vensi/STDFUPlugin/"/>
        <source-file src="src/android/STDFUView.java" target-dir="src/com/vensi/STDFUPlugin/"/>

    </platform>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="STDFUPlugin">
                <param name="ios-package" value="STDFUPlugin" onload="true" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/STDFUView.h" />
        <source-file src="src/ios/STDFUView.m" />
        <header-file src="src/ios/STDFUPlugin.h" />
        <source-file src="src/ios/STDFUPlugin.m" />
        <header-file src="src/ios/Reachability.h" />
        <source-file src="src/ios/Reachability.m" />
        
        <framework src="src/ios/frameworks/BlueSTDFU.framework" custom="true" embed="true"/>
    </platform>
</plugin>
